<section class="new-goal-form">
  <form
    (ngSubmit)="onAddGoal(newGoalForm)"
    #newGoalForm="ngForm"
    class="glassy smooth-corners main-padding"
  >
    <h1>إضافة هدف جديد</h1>
    <div class="form-group">
      <label for="title">عنوان الهدف:</label>
      <input
        type="text"
        name="title"
        id="title"
        required
        ngModel
        #title="ngModel"
      />
      <div
        *ngIf="title.invalid && (title.dirty || title.touched)"
        class="error-message"
      >
        عنوان الهدف مطلوب
      </div>
    </div>
    <div class="form-group">
      <label for="description">وصف الهدف:</label>
      <textarea name="description" id="description" ngModel></textarea>
    </div>
    <div class="form-group">
      <label for="deadline">الموعد النهائي لتحقيق الهدف:</label>
      <input
        type="date"
        name="deadline"
        id="deadline"
        [min]="minDate"
        required
        ngModel
        #deadline="ngModel"
      />
      <div
        *ngIf="deadline.invalid && (deadline.dirty || deadline.touched)"
        class="error-message"
      >
        الموعد النهائي لتحقيق الهدف مطلوب
      </div>
    </div>
    <div class="form-btn-group">
      <button
        [disabled]="newGoalForm.invalid"
        [ngClass]="{ 'disabled-btn': newGoalForm.invalid }"
      >
        إضافة
      </button>
      <button
        type="button"
        (click)="closeForm()"
        [style]="{ backgroundColor: 'rgba(255, 0, 0, 0.2)' }"
      >
        إلغاء
      </button>
    </div>
  </form>
</section>
