<section class="glassy row toolbar">
  <div class="search-bar">
    <img src="assets/svg/search-icon.svg" alt="" />
    <input
      type="text"
      dir="rtl"
      placeholder="البحث عن هدف..."
      [(ngModel)]="searchText"
    />
  </div>
  <button (click)="openNewGoalForm()">إضافة هدف جديد</button>
</section>

<main class="glassy smooth-bottom-corners row main-padding shadow-bottom">
  <ul class="cards-container">
    <app-card
      *ngFor="let goal of goals | goalFilter : searchText"
      [goalData]="goal"
    />
    <h1 class="no-goals" *ngIf="goals.length === 0">
      لا يوجد لديك أهداف حالياً, قم بإضافة هدف جديد.
    </h1>
  </ul>
</main>

<router-outlet />
